<app-resource-detail-wrapper [service]="service" [item]="actor" (itemFetched)="onItemFetched($event)">

	<div *ngIf="checkItemProperties()">

		<h3> Sections </h3>

		<mat-tab-group>

			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">select_all</mat-icon>
					All
				</ng-template>
				<h3>Properties</h3>

				<mat-form-field>
					<input placeholder="Actor Name" 
						[value]="actor.properties.name" 
						(input)="actor.properties.name = $event.target.value;"
						matInput>
				</mat-form-field>

				<mat-checkbox 	[checked]="actor.properties.canBeAlly" 
								(change)="actor.properties.canBeAlly=$event.checked"> Can be ally 
				</mat-checkbox>
				<mat-checkbox 	[checked]="actor.properties.canBeEnemy" 
								(change)="actor.properties.canBeEnemy=$event.checked"> Can be enemy 
				</mat-checkbox>

				<app-actor-ai [parent]="actor"></app-actor-ai>
				<app-actor-sprite [parent]="actor"></app-actor-sprite>


				<mat-divider [inset]="true"></mat-divider>
				<h3>Commands</h3>
				<app-actor-commands [parent]="actor"></app-actor-commands>


				<mat-divider [inset]="true"></mat-divider>
				<h3>Stats</h3>
				<app-actor-stats [parent]="actor"></app-actor-stats>


				<mat-divider [inset]="true"></mat-divider>
				<h3>Events</h3>
				<app-actor-events [parent]="actor"></app-actor-events>
			</mat-tab>





			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">build</mat-icon>
					Properties
				</ng-template>
				<mat-form-field>
					<input placeholder="Actor Name" 
						[value]="actor.properties.name" 
						(input)="actor.properties.name = $event.target.value;"
						matInput>
				</mat-form-field>

				<mat-checkbox 	[checked]="actor.properties.canBeAlly" 
								(change)="actor.properties.canBeAlly=$event.checked"> Can be ally 
				</mat-checkbox>
				<mat-checkbox 	[checked]="actor.properties.canBeEnemy" 
								(change)="actor.properties.canBeEnemy=$event.checked"> Can be enemy 
				</mat-checkbox>

				<app-actor-ai [parent]="actor"></app-actor-ai>
				<app-actor-sprite [parent]="actor"></app-actor-sprite>
			</mat-tab>






			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">list</mat-icon>
					Commands
				</ng-template>
				<app-actor-commands [parent]="actor"></app-actor-commands>
			</mat-tab>






			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">sort</mat-icon>
					Stats
				</ng-template>
				<app-actor-stats [parent]="actor"></app-actor-stats>
			</mat-tab>






			<mat-tab>
				<ng-template mat-tab-label>
					<mat-icon class="example-tab-icon">schedule</mat-icon>
					Events
				</ng-template>
				<app-actor-events [parent]="actor"></app-actor-events>
			</mat-tab>
			-->
		</mat-tab-group>
	</div>

</app-resource-detail-wrapper>