<div [ngClass]="{'dark-theme': app.isDarkTheme}">

	<button mat-icon-button (click)="app.toggleNavSidebar()">
		<mat-icon>menu</mat-icon>
		<!-- <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon> -->
	</button>

	<button mat-icon-button routerLink="/">
		<mat-icon (click)="updateButtonName('')">home</mat-icon>
	</button>
</div>



<!-- <mat-menu #menu="matMenu">
	<mat-list>
		<mat-list-item [routerLink]="['']"> 
			<strong> Home </strong> 
		</mat-list-item>

		<mat-accordion>
			<mat-expansion-panel class="mat-elevation-z0" expanded>

				<mat-expansion-panel-header (click)="$event.stopPropagation()" class="mat-elevation-z0">
					<mat-panel-title> 
						<strong> Categories </strong> 
					</mat-panel-title>
				</mat-expansion-panel-header>

				<mat-list>
					<mat-list-item *ngFor="let topic of app.topicMapList" [routerLink]="[topic.path]">
						{{topic.name}}
					</mat-list-item>
				</mat-list>

			</mat-expansion-panel>
		</mat-accordion>

	</mat-list>
</mat-menu> -->

<!-- <mat-menu #categorymenu="matMenu">
	<mat-list>
		<mat-list-item *ngFor="let topic of app.topicMapList" [routerLink]="[topic.path]">
			{{topic.name}}
		</mat-list-item>
	</mat-list>
</mat-menu> -->