<button mat-menu-item>
	<mat-form-field *ngIf="filtered" (click)="stopPropagation($event)">
		<input matInput placeholder="Search"
						autocomplete="off"
						[value]="filterLabel"
						(input)="filterLabel = $event.target.value; filterByLabel(filterLabel);">
	</mat-form-field>
</button>


<button mat-menu-item>
	<button mat-raised-button (click)="updateFilters(false)" [disabled]="!app.group"> Clear </button>
	<button mat-raised-button (click)="addNewGroupTapped()" color="primary"> New Group </button>
</button>



<button *ngFor="let group of filtered" mat-menu-item (click)="updateFilters(group)">
	<mat-icon color="warn" (click)="deleteGroup(group); stopPropagation($event);">cancel</mat-icon>
	<span>{{group.label}}</span>
</button>