<!-- <button mat-raised-button disableRipple color="primary" class="mat-elevation-z6">
	<mat-card class="mat-elevation-z0">
		
		<mat-card-header>
			<mat-card-title>
				<span> {{action.label}} </span> 
				
				<button mat-icon-button (click)="editLabel()">
					<mat-icon color="background">edit</mat-icon>
				</button>
			</mat-card-title>
		</mat-card-header>


		<mat-card-actions>

			<button mat-button [routerLink]="['/actions/', action.id]">
				DETAIL
			</button>
			
			<button mat-raised-button color="warn" (click)="deleteItem()">
				DELETE
			</button>
		</mat-card-actions>
		
	</mat-card>
</button> -->

<app-resources-list category="actions" [resource]="action"></app-resources-list>