:host button.wrapper {
	margin: 4px;
	width: 100%
}

:host mat-card {
	margin: 4px;
	text-align: center;
	background-color: inherit;
  color: inherit;
  width: 100%;
  display: inline-flex;
}

:host .detail {
  width: 100%;
  text-align: left;
  align-self: center;
  display: inline-flex;
}

:host .actions {
  text-align: right;
  align-self: center;
  position: absolute;
  right: 4%;
  float: right;
}

:host .actions > button {
  margin: 2%;
}

:host mat-checkbox {
  margin-right: 14px;
  align-self: center;
}