<mat-tab-group>
  <mat-tab label="Setup" color="primary"> 
	<div *ngIf="checkItemProperty('setup')">
		<span>Parameters: </span> <br>
		<span>{{action.properties.setup.params}}</span>
<!--
		<codemirror [(value)]="action.properties.setup.body" [config]="editorConfig" style="text-align: left; margin: 1%; width: 98%; height: 100px;">
	    </codemirror>

<!---->
		<ace [config]="config" [mode]="'javascript'" [theme]="'ambiance'" showGutter
		  	 [(value)]="action.properties.setup.body">
		</ace>
		<!---->
	</div>
  </mat-tab>

  <mat-tab label="Create"> 
  	<div *ngIf="checkItemProperty('create')">
		<span>Parameters: </span> <br>
		<span>{{action.properties.create.params}}</span>
<!--
		<codemirror [(value)]="action.properties.create.body" [config]="editorConfig" style="text-align: left; margin: 1%; width: 98%; height: 100px;" onFocus="onFocus">
	    </codemirror>

		<!---->
		<ace [config]="config" [mode]="'javascript'" [theme]="'ambiance'" showGutter
		  	 [(value)]="action.properties.create.body">
		</ace>
		<!---->
	</div>
  </mat-tab>

  <mat-tab label="Resolve">
  	<div *ngIf="checkItemProperty('resolve')">
		<span>Parameters: </span> <br>
		<span>{{action.properties.resolve.params}}</span>
		<!---->
		<ace [config]="config" [mode]="'javascript'" [theme]="'ambiance'" showGutter
		  	 [(value)]="action.properties.resolve.body">
		</ace>
		<!--
		<codemirror [(value)]="action.properties.resolve.body" [config]="editorConfig" style="text-align: left; margin: 1%; width: 98%; height: 100px;">
	    </codemirror>
	    <!---->
		

	</div>
  </mat-tab>

</mat-tab-group>