<button mat-raised-button disableRipple class="mat-elevation-z6" color="primary" (click)="stopPropagation($event)">
	<mat-card class="mat-elevation-z0">
		
		<mat-card-header>
			<mat-card-title>
				<span [routerLink]="['/' + category + '/', resource.id]"> {{resource.label}} </span> 
				
				<button mat-icon-button (click)="editLabel()">
					<mat-icon color="background">edit</mat-icon>
				</button>
			</mat-card-title>
		</mat-card-header>

		<ng-content></ng-content>

		<mat-card-actions>
 			<app-resources-group-plugin [resource]="resource"></app-resources-group-plugin>

			<button mat-raised-button color="warn" (click)="deleteItem()">
				DELETE
			</button>
		</mat-card-actions>
		
	</mat-card>
</button>