<!-- 
actors: [{
	id: "5cf7dda1b5be12001770ee7d",
	options: {x: 200, y: 200, isEnemy: true}
}], 
    preload: new Function("scene", preload),
    create : new Function("scene", create),
    update : new Function("scene", update), 
    onWin  : new Function("scene", onWin),
    onLose : new Function("scene", onLose)
  
-->

<app-resource-detail-wrapper [service]="service" [item]="battle" (itemFetched)="onItemFetched($event)">

	<h3> Sections </h3>
	<mat-tab-group *ngIf="checkItemProperties()">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">select_all</mat-icon> All
			</ng-template>
			<mat-divider [inset]="true"></mat-divider>
			<h3>Actors</h3>
			<app-battle-actors [parent]="battle"></app-battle-actors>

			<mat-divider [inset]="true"></mat-divider>
			<h3>Events</h3>
			<app-battle-events [parent]="battle"></app-battle-events>
		</mat-tab>


		<!-- -->
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">supervised_user_circle</mat-icon> Actors
			</ng-template>
			<app-battle-actors [parent]="battle"></app-battle-actors>
		</mat-tab>



		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="example-tab-icon">schedule</mat-icon> Events
			</ng-template>
			<app-battle-events [parent]="battle"></app-battle-events>
		</mat-tab>
	</mat-tab-group> 


</app-resource-detail-wrapper>