<div (window:resize)="syncFrameSizeAndPosition(sprite)">

	<!-- SRC -->
	<mat-form-field *ngIf="sprite">
		<input placeholder="Source URL" 
			[value]="sprite.properties.src" 
			(input)="sprite.properties.src = $event.target.value; syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<!-- SIZE -->
	<mat-form-field *ngIf="sprite">
		<input placeholder="Frame Width" 
			type="number" 
			[value]="sprite.properties.frameWidth" 
			(input)="sprite.properties.frameWidth = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<mat-form-field *ngIf="sprite">
		<input placeholder="Frame Height" 
			type="number" 
			[value]="sprite.properties.frameHeight" 
			(input)="sprite.properties.frameHeight = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<!-- FRAME -->
	<mat-form-field *ngIf="sprite">
		<input placeholder="Frame X" 
			type="number" 
			[value]="sprite.properties.frameX" 
			(input)="sprite.properties.frameX = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<mat-form-field *ngIf="sprite">
		<input placeholder="Frame Y" 
			type="number" 
			[value]="sprite.properties.frameY" 
			(input)="sprite.properties.frameY = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<!-- SCALE -->
	<mat-form-field *ngIf="sprite">
		<input placeholder="Scale X" 
			type="number" 
			[value]="sprite.properties.scaleX" 
			(input)="sprite.properties.scaleX = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>

	<mat-form-field *ngIf="sprite">
		<input placeholder="Scale Y" 
			type="number" 
			[value]="sprite.properties.scaleY" 
			(input)="sprite.properties.scaleY = Number($event.target.value); syncFrameSizeAndPosition(sprite)"
			matInput>
	</mat-form-field>
</div>

<div>
	<img #spriteDisplay id="spriteDisplay" src="{{fetchSource(sprite)}}" /> 
	<div #spriteFrame id="spriteFrame" *ngIf="sprite" [ngStyle]="{'width.px': frameWidth, 'height.px': frameHeight, 'left.px': frameLeft, 'top.px': frameTop}"></div>
</div>