:host mat-card {
	max-width: 400px;
	max-height: 300px;
	width: 400px; 
	height: 300px;
	text-align: center;
	background-color: background;
	color: accent;
	display: inline-block;
	margin: 4px;
};

:host mat-card div {
	align-self: center;
	background-size: 100px 100px;
};