@import '../../../theme.scss';

:host {
    background: inherit !important;
    color: inherit !important;
    background-color: inherit !important;
}

mat-option, app-sidenav-item {
    background: inherit !important;
    color: inherit !important;
    background-color: inherit !important;
}

.selected {
    color: mat-color($warn);
}