:host mat-card {
	max-width: 300px;
	max-height: 200px;
	width: 300px; 
	height: 200px;
	text-align: center;
	/*background-color: #00227a;*/
	color: black;
	display: inline-block;
	margin: 2px;
};


:host mat-card h2 {
};

:host mat-card div {
	align-self: center;
};