<div *ngIf="checkItemProperties()">
	<h3>Actor Properties</h3>

	<mat-form-field>
		<input placeholder="Actor Name" 
			[value]="actor.properties.name" 
			(input)="actor.properties.name = $event.target.value;"
			matInput>
	</mat-form-field>

	<mat-checkbox 	[checked]="actor.properties.canBeAlly" 
					(change)="actor.properties.canBeAlly=$event.checked"> Can be ally 
	</mat-checkbox>
	<mat-checkbox 	[checked]="actor.properties.canBeEnemy" 
					(change)="actor.properties.canBeEnemy=$event.checked"> Can be enemy 
	</mat-checkbox>

	<app-actor-ai [actor]="actor"></app-actor-ai>
	<app-actor-sprite [actor]="actor"></app-actor-sprite>


	<mat-divider [inset]="true"></mat-divider>
	<h3>Actor Commands</h3>
	<app-actor-commands [actor]="actor"></app-actor-commands>


	<mat-divider [inset]="true"></mat-divider>
	<h3>Actor Stats</h3>
	<app-actor-stats [actor]="actor"></app-actor-stats>
</div>