/* Checkbox color */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: blue !important;
}

:host div {
	display: inline;
}

:host mat-form-field {
	margin: 1%;
}

:host mat-checkbox {
	margin: 1%;
}

:host app-actor-ai {
	display: inline-block;
	margin: 1%;
}

:host app-actor-sprite {
	display: inline-block;
	margin: 1%;
}