<mat-toolbar color="primary" class="mat-elevation-z4">
	
	<app-back-button></app-back-button>

	<span>{{app.navTitle}}</span>
	
	<div>
		

		<button mat-button [matMenuTriggerFor]="menu" color="background">
			Topics
		    <mat-icon>expand_more</mat-icon>
		</button>

		<mat-menu #menu="matMenu">

			<button *ngFor="let topic of app.topicMapList" mat-menu-item [routerLink]="[topic.path]">{{topic.name}}</button>

			<!--
			<button mat-menu-item [routerLink]="['/sprites']">Sprites</button>
			<!---->
		</mat-menu>

		<button mat-icon-button routerLink="/">
			<mat-icon>home</mat-icon>
		</button>

	</div>

</mat-toolbar>