<mat-toolbar color="primary" class="mat-elevation-z4">
	
	<div class="leftSide">
		<!-- <app-back-button></app-back-button> -->

<!-- 		<button mat-icon-button (click)="openSideBar()">
			<mat-icon>menu</mat-icon>
		</button> -->

		<app-primary-button></app-primary-button>
		<app-secondary-button></app-secondary-button>
	</div>


	
	<div class="rightSide">	
<!-- 		<button mat-icon-button routerLink="/">
			<mat-icon (click)="updateButtonName('')">home</mat-icon>
		</button> -->
	</div>

</mat-toolbar>