
<mat-tab-group *ngIf="checkItemProperties()">
	<mat-tab label="Setup"> 
		<div *ngIf="checkItemProperty('preload')">
			<app-wrapper-editor [encodedFunction]="battle.properties.preload" 
		 						(encodedFunctionChange)="battle.properties.preload = $event">
		    </app-wrapper-editor>
		</div>
	</mat-tab>

	<mat-tab label="Create"> 
		<div *ngIf="checkItemProperty('create')">
			<app-wrapper-editor [encodedFunction]="battle.properties.create" 
		 						(encodedFunctionChange)="battle.properties.create = $event">
		    </app-wrapper-editor>
		</div>
	</mat-tab>

	<mat-tab label="Update"> 
		<div *ngIf="checkItemProperty('update')">
			<app-wrapper-editor [encodedFunction]="battle.properties.update" 
		 						(encodedFunctionChange)="battle.properties.update = $event">
		    </app-wrapper-editor>
		</div>
	</mat-tab>


	<!---->

	<mat-tab label="On Win"> 
		<div *ngIf="checkItemProperty('onWin')">
			<app-wrapper-editor [encodedFunction]="battle.properties.onWin" 
		 						(encodedFunctionChange)="battle.properties.onWin = $event">
		    </app-wrapper-editor>
		</div>
	</mat-tab>

	<mat-tab label="On Lose"> 
		<div *ngIf="checkItemProperty('onLose')">
			<app-wrapper-editor [encodedFunction]="battle.properties.onLose" 
		 						(encodedFunctionChange)="battle.properties.onLose = $event">
		    </app-wrapper-editor>
		</div>
	</mat-tab>
</mat-tab-group>