<!---->
<button mat-raised-button disableRipple color="primary" class="mat-elevation-z0">
	<mat-accordion class="mat-elevation-z0">
		<mat-expansion-panel class="mat-elevation-z0">
			<mat-expansion-panel-header class="mat-elevation-z0">
			  	<span> Utils </span>
			</mat-expansion-panel-header>

			<app-item-build (build)="insertLineOnCurrentPosition($event)"></app-item-build>
		</mat-expansion-panel>

	</mat-accordion>
</button>
<!---->


<div>
	<div class="ace" 
		 #editor
		 (input)="code = $event"
		 [ace]="config">
	</div>
	<!--
	<ace #editor 
		[config]="config" 
		[mode]="'javascript'" 
		[theme]="'ambiance'" 
		(valueChange)="notify($event)"
	  	[(value)]="code">
	</ace>
	<!---->
</div>