<!---->
<button mat-raised-button disableRipple color="primary" class="mat-elevation-z0">
	<mat-accordion class="mat-elevation-z0">
		<mat-expansion-panel class="mat-elevation-z0">
			<mat-expansion-panel-header class="mat-elevation-z0">
			  	<span> Utils </span>
			</mat-expansion-panel-header>

			<div class="actions">
				<span> Build </span>
				<mat-form-field>
					<mat-select>
						<mat-option> 1 </mat-option>
						<mat-option> 1 </mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field>
					<mat-select>
						<mat-option> a </mat-option>
						<mat-option> b </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</mat-expansion-panel>

	</mat-accordion>
</button>
<!---->


<div>
	<ace [config]="config" 
		 [mode]="'javascript'" 
		 [theme]="'ambiance'" 
		 (valueChange)="notify($event)"
	  	 [(value)]="code">
	</ace>
</div>