@import "../theme.scss";

/* Collection Rapresentation */
:host .mat-elevation-z6.collection {
	margin: 4px;
}

:host div.collection {
	background-size: contain;
	background-color: inherit;
	width: 200px; 
	height: 200px;
	margin: 0px !important;
	color: inherit;
}


:host mat-card-header.collection {
	width: 200px; 
	margin: 0px !important;
	text-align: center;
	background-color: inherit;
	color: inherit;
}

:host mat-card-header mat-card-title button.collection {
	margin-top:  -10px;
	background-color: inherit;
	color: inherit;
}


:host mat-card-actions.collection {
	position: absolute; 
	bottom: -16px; 
	width: 100%;
}

:host .mat-icon-button.collection {
	position: absolute;
	right: -10px;
}



/* List Rapresentation */
app-color-card.list {
	width: 100% !important;
}
