<mat-sidenav-container color="primary">

<!-- 	<mat-sidenav #sidenav mode="side" opened>
	    Sidenav content
	</mat-sidenav>
	 -->
	<mat-sidenav-content color="primary"> <!-- (click)="sidenav.close()"> -->

		<app-header></app-header>

		<main color="primary">
			<mat-spinner *ngIf="showSpinner"></mat-spinner>

			<router-outlet></router-outlet>

			<button id="fabButton" color="primary" mat-fab *ngIf="fabButtonIcon != ''" (click)="fabButtonAction()"> 
				<mat-icon>{{fabButtonIcon}}</mat-icon>
			</button>
		</main>

	</mat-sidenav-content>
</mat-sidenav-container>
