mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
main {
    padding: 10px;
    text-align: center;
	height: 100%;
}

app-header {
}

#fabButton {
	position: absolute;
	right: 2%;
	bottom: 2%;
}

mat-spinner {
	position: absolute;
	right: calc( 50% - 100px );
	width: 200px;
}