<button mat-raised-button 
		color="secondary" 
		[matMenuTriggerFor]="menu">
	ASSIGN TO <mat-icon>more</mat-icon>
</button>

<mat-menu #menu="matMenu">
	<h6>assigned groups</h6>
	<mat-chip-list>
		<mat-chip *ngFor="let id of resource.groups" (removed)="removeAssignedGroup(id)">
			{{computeAssignedGroupLabel(id)}}
			<mat-icon matChipRemove>cancel</mat-icon>
		</mat-chip>
	</mat-chip-list>
	<br>

	<mat-divider></mat-divider>

	<h6>add</h6>
	<app-group-list (selected)="addGroupToResource($event);"></app-group-list>
</mat-menu>