:host mat-card {
	margin: 4px;
	height: 200px;
	margin: 4px;
	text-align: center;
	background-color: inherit;
	color: inherit;
}

:host mat-card-title {
	background-color: inherit;
	color: inherit;
	width: 300px;
}

:host mat-card-header {
	width: 300px; 
	background-color: inherit;
	color: inherit;
}

:host button {
	margin: 2px;
}

/* Checkbox color */
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: blue !important;
}