<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
		  	<h4> Plug-ins </h4>
		</mat-expansion-panel-header>

		<h4>Parameters:</h4>
		<mat-form-field style="display: inline">
			<input matInput placeholder="Parameters"
				[value]="params" 
				(input)="params = $event.target.value; notifyParamsChange($event.target.value);">
		</mat-form-field>

		<app-item-build [topics]="app.topicMapList"
						[code]="code" 
						(build)="insertDependency($event.codeLine, $event.at)"></app-item-build>
	</mat-expansion-panel>
</mat-accordion>



<div>
	<!--
	<div class="ace" 
		 #editor
		 (input)="inputHandler"
		 [ace]="config">
		 {{code}}
	</div>
	<!---->
	<ace #editor 
		[config]="config" 
		[mode]="'javascript'" 
		[theme]="'ambiance'" 
		(valueChange)="notifyCodeChange($event)"
	  	[(value)]="code">
	</ace>
	<!---->
</div>