<button mat-icon-button [matMenuTriggerFor]="menu" color="background">
	<mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
</button>

<button mat-icon-button routerLink="/">
			<mat-icon (click)="updateButtonName('')">home</mat-icon>
		</button>

<button mat-button [matMenuTriggerFor]="menu" color="background">
	<h6> {{updateButtonName(app.navTitle)}} </h6>
</button>


<mat-menu #menu="matMenu">
	<button mat-menu-item *ngFor="let topic of app.topicMapList" [routerLink]="[topic.path]">
		{{topic.name}}
	</button>
</mat-menu>