<div>
	<mat-form-field>
		<span>Add new command</span>
		<mat-select>
			<mat-option *ngFor="let item of service.items" 
						[value]="item" 
						[disabled]="computeItemDisabled(item, actor)"
						(click)="addSelectedItem(item, actor)">
				{{item.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>


<div *ngIf="checkIfParentHasProperties()">

	<app-color-card *ngFor="let id of actor.properties.actorCommands">
	
			<mat-card-title [routerLink]="['/commands/', id]">
				<span> {{computeCommandLabel(id, service.items)}} </span> 
			</mat-card-title>

			<mat-card-actions>
				<button mat-raised-button color="warn" (click)="deleteCommandItem(id, actor)">
					DELETE
				</button>
			</mat-card-actions>

	</app-color-card>

</div>
<br>