<div>
	<mat-form-field>
		<span>Add new command</span>
		<mat-select>
			<mat-option *ngFor="let item of service.items" 
						[value]="item" 
						[disabled]="computeItemDisabled(item, actor)"
						(click)="addSelectedItem(item, actor)">
				{{item.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>


<div *ngIf="checkIfParentHasProperties()">

	<button mat-raised-button disableRipple color="primary" class="mat-elevation-z6" *ngFor="let id of actor.properties.actorCommands">
		<mat-card class="mat-elevation-z0">		
			<mat-card-title>
				<span> {{computeCommandLabel(id, service.items)}} </span> 
			</mat-card-title>

			<mat-card-actions>
				<button mat-button [routerLink]="['/commands/', id]">
					DETAIL
				</button>
				
				<button mat-raised-button color="warn" (click)="deleteCommandItem(id, actor)">
					DELETE
				</button>
			</mat-card-actions>
		</mat-card>
	</button>

</div>