:host mat-card {
	margin: 4px;
	height: 75px;
	margin: 4px;
	text-align: center;
	background-color: inherit;
	color: inherit;
}

:host mat-card-title {
	background-color: inherit;
	color: inherit;
	width: 200px;
}

:host mat-card-header {
	width: 200px; 
	background-color: inherit;
	color: inherit;
}

:host button {
	margin: 2px;
}