
<button mat-raised-button disableRipple color="primary" class="mat-elevation-z2">
	<mat-card class="mat-elevation-z0">
		
		<mat-card-header>
			<mat-card-title>
				Add to this object
			</mat-card-title>
		</mat-card-header>

		<mat-form-field>
			<mat-select [(value)]="itemToBeAdded">
				<mat-option *ngFor="let item of allItems" [value]="item" [disabled]="computeItemDisabled(item, parentobject)">{{item.label}}</mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-button (click)="addSelectedItem(itemToBeAdded, parentobject)"> ADD </button>
		
	</mat-card>
</button>


<button mat-raised-button disableRipple color="primary" class="mat-elevation-z2" *ngFor="let item of service.items">
	<mat-card class="mat-elevation-z0">
		
		<mat-card-header>
			<mat-card-title>
				<span> {{item.label}} </span>
			</mat-card-title>
		</mat-card-header>

		<mat-card-actions>
			<button mat-button [routerLink]="['/animations/', item.id]">
				DETAIL
			</button>
			
			<button mat-raised-button color="warn" (click)="deleteAnimationItem(item, parentobject)">
				DELETE
			</button>
		</mat-card-actions>
		
	</mat-card>
</button>
