@import '../../../theme.scss';


:host mat-toolbar {
	width: 100% !important;
	background: mat-color($primary);
	color: mat-color($primary);
}

:host .leftSide {
	position: absolute;
	left: 10px;
	display: inline;
	background: transparent !important;
	background-color: transparent !important;
}

:host .rightSide {
	position: absolute;
	right: 25px;
	display: inline;
	align-items: right;
	background: transparent !important;
	background-color: transparent !important;
}

:host app-settings-button {
	background: transparent !important;
	background-color: transparent !important;
}