
<h3>Enter your credential</h3>

<app-color-card *ngIf="!user">
  	<div>
		<mat-form-field>
			<input placeholder="Username" 
				[value]="username" 
				(input)="username = $event.target.value;"
				matInput>
		</mat-form-field>
	</div>
	
	<div>
		<mat-form-field>
			<input placeholder="Password" 
					[value]="password" 
					(input)="password = $event.target.value;"
					matInput>
		</mat-form-field>
	</div>
	<div>
		<button mat-raised-button
				class="mat-elevation-z2"
				(click)="login()">
			LOG IN
		</button>
	</div>
</app-color-card>