@import '~@angular/material/theming';

@include mat-core();


/* LIGHT THEME */
$primary: mat-palette($mat-light-blue, 600);
$accent: mat-palette($mat-deep-purple, 800);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);


/* DARK THEME */
.dark-theme {
  color: #ddd;
  background-color: #222;
  $dark-primary: mat-palette($mat-teal, 600);
  $dark-accent: mat-palette($mat-deep-orange, A400);
  $dark-warn: mat-palette($mat-pink, A400);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}